.back-button {
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.875rem;
  color: $color-primary;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  svg {
    font-size: 1rem;
  }

  &__text {
    line-height: 1;
  }
}
