.search-result-item {
  @apply cursor-pointer border-b border-gray-200 hover:bg-primary hover:text-white transition-colors duration-200 ease-in-out;
}

#product_booking_form {
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    font-size: 12px !important;
    width: 30px !important;
    line-height: 30px !important;
  }

  .react-datepicker__current-month {
    font-size: 14px !important;
  }
}