/* Custom Scrollbar */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  padding-right: 20px;
}

/* For Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}
