@import "tailwindcss";
@import "variable";
@import "custom";
@import "scrollbar";
@import "custom-toast";
@import "loader";
@import "table";
@import "custom-select";
@import "breakpoints";

@import "./common/custom-datepicker";
@import "./common/button";
@import "./common/input-field";
@import "./common/back-button";

@import "./pages/order-form";
@import "./pages/menu-list";
